/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*************
* Our Styles *
*************/

/* font import */
/* import the "Bebas Neue" font. */


h1, h2, h3, label, div {
	font-family: Helvetica, Arial, sans-serif;
}

/* general styles */
a {
	text-decoration: none;
}
/* background */
html {
	height: 100%;
	min-height: 100%;
}
body {
	height: 100%;
}
#wrapper {
	height: 100%;
	overflow: scroll;
}

/* content area */
#content {
	width: 960px;
	margin: 0 auto;
	-webkit-transition: width .5s;
}
/* nav */
nav {
	position: fixed;
	top: 100px;
	border: 1px solid black;
	border-left: none;
	padding:10px;
}
nav li {
	margin-bottom: 10px;
}
nav li a {
	color: black;
}
nav li a:hover {
	color: #aaa;
}

/*ga header */
#ga-header {
	background-color: #000;
	padding: 15px;
	color: #fff;
	font-size: 30px;
	font-family: Helvetica, Arial, sans-serif;
}
#ga-header img {
	float: left;
	position: relative;
}

/* main content */
#content #main {
	padding: 20px;
	margin: 40px auto;
	border:	3px solid #777;
}
#content #main h1 {
	margin: 10px 0;
	font-size: 32px;
}
#content #main h2 {
	font-size: 24px;
	margin-bottom: 20px;
	margin-top: 50px;
}
#content #main h3 {
	margin-top: 30px;
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: bold;
}
#content code {
	vertical-align: middle;
	font-size: 15px;
}
#content code.sample {
	display: block;
	background-color: #000;
	color: #fff;
	width: 500px;
	padding: 10px;
	font-style: 13px;
}
#content textarea {
	width: 500px;
	padding: 9px;
	margin-top: 10px;
	min-height: 120px;
	display: block;
}
#content .section button {
	font-size: 18px;
	cursor: pointer;
	margin: 10px 10px 15px 0;
	display: block;
	float: left;
}
#content .section .directions {
	margin-bottom: 10px;
}
#content .section.directions {
	margin-top: 30px;
}
#content .section .hint-container {
	margin-top: 10px;
}
#content .section .result, #content .section .notes {
	font-size: 12px;
}
#content .section .result {
	margin-bottom: 10px;
}
#content .section .result.success {
	color: green;
}
#content .section .result.error {
	color: red;
}
#content .hint {
	color: blue;
}
#content .hint-container {
	margin-bottom: 10px;
	font-size: 12px;
	font-style: italic;
}
#content .section pre {
	display: none;
}
#content .section .show-original {
	display: block;
	font-size: 12px;
	color: blue;
}
#content .section .return {
	font-size: 12px;
	margin: 10px 0;
	clear: left;
}
#content .section .return span {
	font-weight: bold;
}

/* clearfix class */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.last {
	margin-right: 0 !important;
}


/* media queries */

/* screen width less than 960px and more than 768px */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#content {
		width: 768px;
	}
}

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	#content {
		width: 300px;
	}
	#header ul li a {
		line-height: 50px;
	}

	#main h2, #main h3 {
		text-align: center;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#content {
		width: 420px;
	}
}
@media only screen and (max-width: 479px) {
	#content #main h2 {
		font-size: 28px;
	}
}
